.footer {
    
    background: linear-gradient(180deg, #2B1712 , #4B2C24);
}
.logo2{
    

    display: flex;
    justify-content: center; 
    align-items: center;  
    padding-top: 64px;
    padding-bottom: 16px;
  }
  .navLogo2{
    
    display: flex;         
    align-items: center;  
    text-decoration: none;
    font-family: $font-family-primary;
    color: $secondary-color;
  }
  .logo2 img{
    
    width: 28px;
    height: 28px;
    margin-right: 8px; 
  }
  .textFooter{
   
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 72px;
    h1{
        
      font-family: $font-family-primary;
      color: $secondary-color;
      font-size: 28px;
      font-weight: 400;
  
    }
  }
  .registerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    .resgister{
    padding-bottom: 16px;
      .input{
        background-color:transparent;
        width: 328px;
        height: 64px;
        padding-left: 24px;
        border-radius: 64px;
        border: solid 2px #847571;
        font-family: $font-family-secondary;
        font-size: 15px;
        font-weight: 500;
        color: #847571;
      }
    }
  }
  .bnSubscribe{
    padding-bottom: 16px;
    button{
      background-color: $tertiary-color;
      width: 328px;
      height: 64px;
      border: none;
      border-radius: 64px;
      text-align: center;
      font-family: $font-family-secondary;
      font-size: 15px;
      font-weight: 500;
    }
  }
  .registerText{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      text-align: center;
      font-family: $font-family-secondary;
      font-size: 15px;
      font-weight: 500;
      width: 328;
      color: $secondary-color;
      font-size: 13px;
      font-weight: 400;
      padding-bottom: 72px;
    }
  }
  .redes{
    display: flex;
    justify-content: center;
    column-gap: 2rem;    
    padding-bottom: 32px;
    img{
      width: 20px;
      height: 20px;
    }
  }
  .copyR{
    
    color:   #847571;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 120px;
    font-family: $font-family-secondary;
  }
  //MEDIA QUERY DESKTOP...............................................

  @media (min-width: $breakpoint-desktop) {

//SECTION FOOTER...............................................
.footerContent {
    display: flex;
    flex-direction: column;    
    align-items: center;    
    justify-content: space-between;
 .footer{
  background: none;
   padding: auto;
 }}
.filaSuperior{
  display: flex;
  justify-content: space-between;
  gap: 369px;
}
.logo2{
  
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding-top: 96px;
  padding-bottom: 16px;
}
.navLogo2{
  
  display: flex;         
  align-items: center;  
  text-decoration: none;

}
.logo2 img{
  
  width: 28px;
  height: 28px;
  margin-right: 8px; 
}
.textFooter{
 
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 72px;
  h1{
    font-size: 36px;
  }
}
.registerContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 96px;
  .resgister{
  padding-bottom: 24px;
    .input{
      width: 360px;
      font-size: 16px;
    }
  }
}
.bnSubscribe{
  padding-bottom: 24px;
  button{
    background-color: $tertiary-color;
    width: 360px;
    height: 64px;
    font-size: 16px;
  }
}
.registerText{

  h1{   
    width: 360;
    font-size: 14px;
    padding-bottom: 96px;
  }
}
.redes{
  display: flex;
  justify-content: center;
  column-gap: 2rem;    
  padding-bottom: 32px;

}
.copyR{
  font-size: 13px;
  padding-bottom: 48px;
}
  }

