@import 'variables'; // Variables globales
@import 'mixins';    // Mixins reutilizables
@import 'base';      // Estilos globales y reset
@import 'header';    // Estilos del header
@import 'footer';    // Estilos del footer
@import 'sections';  // Secciones específicas

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

// Estilos generales
body {
  margin: 0;
  background-color: $secondary-color;
  color: $primary-color;
}

.nav {
  background: linear-gradient(180deg, #4B2C24, #2B1712);
  $font-family-primary: 'Pacifico', cursive;
  ul {
    list-style: none;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10px;
    font-family: $font-family-primary;
    li {
      display: inline-block;
      margin: 0 1rem; // Añade un margen horizontal

      a {
        color: $secondary-color;
        text-decoration: none;
        display: flex;
        flex-direction: column; // Cambia la dirección del contenido a columna
        align-items: center;

        img {
          margin-bottom: 4px; // Añade espacio entre el icono y el texto
          width: 24px; /* Ajusta el tamaño del icono */
          height: 24px;
        }

        &:hover {
          text-decoration: underline;
          color: $tertiary-color; 
        }
      }
    }
  }
}

//................................Inicio media Query para tablet............................

@media (min-width: $breakpoint-tablet) {
  .header {
    .nav-menu {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    .menu-toggle {
      display: none;
    }
  }

  .hero {
    flex-direction: row;
    text-align: left;

    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

//.............................Inicio media query desktop..................................

@media (min-width: $breakpoint-desktop) {
  .header {
    padding: 2rem;

    .logo {
      font-size: 2rem;
    }
  }

  .hero {
    padding: 4rem 2rem;

    h1 {
      font-size: 3rem;
    }

    .btn-primary {
      font-size: 1.2rem;
    }
  }
}
