// _variables.scss

// Colores
$primary-color: #8b4513;
$secondary-color: #ffffff;
$tertiary-color: #DDB66F;


// Tipografía
// variables.scss
$font-family-primary: 'Pacifico', cursive;
$font-family-secondary: 'Poppins', sans-serif;



// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
